article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  border: none;
  color: midnightblue;
}
a:active, a:visited {
  color: midnightblue;
}

p {
  font-size: 18px;
}

h3 {
  font-size: 24px;
}

.wrapper {
  background: #fff;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.content-container {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0.75;
  background: #fff;
  z-index: 100;
}

.video-container {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  font-size: 0;
  overflow-Y: hidden;
}

video {
  z-index: 2;
  width: 100%;
  height: auto;
  display: inline-block;
}

.header-container,
.video-container {
  height: 100vh;
}

.header-container {
  background: #7B46B4;
  padding: 100px 25px;
  text-outline: 0;
}
@media all and (max-height: 390px) {
  .header-container {
    padding: 50px 25px;
  }
}
@media all and (max-width: 650px) {
  .header-container {
    padding: 0;
  }
}

.header-container,
.bandsintown-content {
  width: 100%;
  margin: 0;
}
@media all and (max-width: 640px) {
  .header-container,
  .bandsintown-content {
    font-size: 24px;
  }
}

.option {
  background: #fff;
}

.is-bey-touring h3 {
  text-align: center;
  font-size: 27px;
}

.bandsintown-content {
  padding: 25px 100px;
  background: #fff;
}
@media all and (max-width: 600px) {
  .bandsintown-content {
    padding: 10px 40px;
  }
}

.tumblr-content,
.lastfm {
  margin: 0;
  float: left;
  padding: 20px;
}
.tumblr-content p,
.lastfm p {
  margin: 0;
  padding: 0;
}

.bandsintown-content h2 {
  font-size: 30px;
}
@media all and (max-width: 440px) {
  .bandsintown-content h2 {
    font-size: 24px;
  }
}

.tumblr-content {
  clear: both;
  width: 100%;
  background: #1F9AFF;
  text-align: center;
}
.tumblr-content img {
  display: none;
  max-width: 30%;
  border: 3px solid white;
  border-radius: 3px;
}

header {
  color: white;
  text-align: center;
}
header h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 62px;
  text-transform: uppercase;
  transition: color 2s;
  margin-bottom: 0;
}
header h1:hover, header h1:focus {
  color: #BAE;
}
@media all and (max-height: 390px) {
  header h1 {
    margin-top: 0;
  }
}
@media all and (max-width: 615px) {
  header h1 {
    font-size: 52px;
  }
}
header h2 {
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-size: 24px;
}
@media all and (max-width: 515px) {
  header h2 {
    margin-bottom: 0;
    font-size: 18px;
  }
}
header input[type="text"] {
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'courier new', 'source sans pro', sans-serif;
}
@media all and (max-width: 1140px) {
  header input[type="text"] {
    font-size: 16px;
  }
}
@media all and (max-width: 905px) {
  header input[type="text"] {
    font-size: 12px;
    width: 60%;
  }
}
@media all and (max-width: 490px) {
  header input[type="text"] {
    width: 80%;
  }
}
@media all and (max-width: 400px) {
  header input[type="text"] {
    width: 95%;
  }
}
header input {
  display: block;
  margin: 0.5rem auto;
  padding: 8px;
  font-size: 20px;
}
@media all and (max-width: 905px) {
  header input[type="submit"] {
    font-size: 15px;
    padding: 2px;
  }
}

.bey-in-town,
.bey-not-in-town,
.other-not-in-town,
.other-in-town,
.invalid-entry {
  display: none;
}

.invalid-entry {
  font-weight: bold;
}

.bey-not-in-town,
.other-not-in-town {
  position: relative;
}
.bey-not-in-town img,
.other-not-in-town img {
  margin: 20px auto 0 auto;
  display: block;
  border-radius: 3px;
}
.bey-not-in-town .new-artist-box,
.other-not-in-town .new-artist-box {
  display: flex;
}
@media all and (max-width: 640px) {
  .bey-not-in-town .new-artist-box,
  .other-not-in-town .new-artist-box {
    display: block;
  }
}
.bey-not-in-town .new-artist,
.other-not-in-town .new-artist {
  width: 31%;
  margin: 1% 1% 5% 1%;
  padding: 1%;
  float: left;
  border: 1px solid black;
}
.bey-not-in-town .new-artist img,
.other-not-in-town .new-artist img {
  max-width: 100%;
  transition: opacity 1s;
}
.bey-not-in-town .new-artist img:hover, .bey-not-in-town .new-artist img:focus,
.other-not-in-town .new-artist img:hover,
.other-not-in-town .new-artist img:focus {
  opacity: 0.3;
}
@media all and (max-width: 640px) {
  .bey-not-in-town .new-artist,
  .other-not-in-town .new-artist {
    float: none;
    width: 80%;
    margin: 0 auto 1em auto;
  }
}
.bey-not-in-town p,
.other-not-in-town p {
  text-align: center;
}
.bey-not-in-town h3,
.other-not-in-town h3 {
  text-align: right;
  padding-bottom: 20px;
}

.sorry {
  font-size: 1.75em;
  font-weight: bold;
  font-variant: small-caps;
}

.buy-tickets {
  padding-top: 2rem;
}
.buy-tickets p {
  margin: 50px 0 25px 0;
}

.buy-tickets a {
  background: #287733;
  border-radius: 15px;
  color: #62CB75;
  padding: 10px;
  margin-top: 3.5em;
}

.other-in-town h2,
.other-in-town h3,
.bey-in-town h3 {
  text-align: center;
  padding: 10px;
}
@media all and (max-width: 640px) {
  .other-in-town h2,
  .other-in-town h3,
  .bey-in-town h3 {
    font-size: 20px;
  }
}
@media all and (max-width: 440px) {
  .other-in-town h2,
  .other-in-town h3,
  .bey-in-town h3 {
    font-size: 16px;
  }
}

.other-in-town h2 {
  font-size: 50px;
  font-family: 'titillium web', sans-serif;
  margin-bottom: 0;
}
.other-in-town p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 22px;
}
.other-in-town h3 {
  margin-top: 0;
}

.clock,
.clock-after {
  text-align: center;
  font-size: 28px;
  padding: 0;
}
.clock:first-of-type,
.clock-after:first-of-type {
  margin-bottom: 0;
}

.clock-box {
  margin-top: 1em;
}

footer {
  width: 100%;
  clear: both;
  background: #D249DA;
  padding: 15px;
}
